# **Tarea Nº 2**

Curso:          Fundamentos de Programación en Python para las CCSS y la Gestión Pública

Profesor:       Víctor Fuentes Campos

- Fecha y hora de entrega: Lunes 9 de diciembre, 11:59pm
- Agregue los nombres de las personas con las que discutió esta tarea: Jorge Aramburu, Pía Quispe y los foros de internet
- Envíe su tarea haciendo el `push` de su código a su repo en GitHub Classroom

## **Vuelos, aerolíneas y aeropuertos al detalle**

1. Importa el conjunto de datos `flights.csv`. Encuentra todos los vuelos que:

    a. Tuvieron un retraso de llegada de tres horas o más.

    b. Volaron a Houston (IAH o HOU).

    c. Fueron operados por United, American o Southwest.

    d. Partieron en primavera (marzo, abril y junio).

In [21]:
# Solución
import pandas as pd
import numpy as np
flights_data = pd.read_csv("flights.csv") 
flights_data

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,1,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,3,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,4,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,5,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,336772,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30 14:00:00
336772,336773,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-09-30 22:00:00
336773,336774,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30 12:00:00
336774,336775,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30 11:00:00
336775,336776,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30 08:00:00

In [ ]:
#A se registraron 3897 vuelos
flights_3hr_delay = flights_data[flights_data["arr_delay"] >=180]
flights_3hr_delay

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
151,152,2013,1,1,848.0,1835,853.0,1001.0,1950,851.0,MQ,3944,N942MQ,JFK,BWI,41.0,184,18,35,2013-01-01 18:00:00
649,650,2013,1,1,1815.0,1325,290.0,2120.0,1542,338.0,EV,4417,N17185,EWR,OMA,213.0,1134,13,25,2013-01-01 13:00:00
673,674,2013,1,1,1842.0,1422,260.0,1958.0,1535,263.0,EV,4633,N18120,EWR,BTV,46.0,266,14,22,2013-01-01 14:00:00
746,747,2013,1,1,2006.0,1630,216.0,2230.0,1848,222.0,EV,4644,N14972,EWR,SAV,121.0,708,16,30,2013-01-01 16:00:00
801,802,2013,1,1,2115.0,1700,255.0,2330.0,1920,250.0,9E,3347,N924XJ,JFK,CVG,115.0,589,17,0,2013-01-01 17:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335540,335541,2013,9,29,1745.0,1330,255.0,2028.0,1632,236.0,B6,431,N517JB,LGA,SRQ,137.0,1047,13,30,2013-09-29 13:00:00
335720,335721,2013,9,29,2049.0,1730,199.0,2153.0,1852,181.0,B6,86,N373JB,JFK,ROC,44.0,264,17,30,2013-09-29 17:00:00
335778,335779,2013,9,29,2327.0,1942,225.0,153.0,2250,183.0,B6,1271,N659JB,LGA,FLL,129.0,1076,19,42,2013-09-29 19:00:00
336252,336253,2013,9,30,1324.0,830,294.0,1512.0,1040,272.0,EV,5157,N761ND,LGA,CLT,79.0,544,8,30,2013-09-30 08:00:00
336757,336758,2013,9,30,2159.0,1845,194.0,2344.0,2030,194.0,9E,3320,N906XJ,JFK,BUF,50.0,301,18,45,2013-09-30 18:00:00

In [ ]:
# B se registraron 9313 
flights_to_houston = flights_data[flights_data['dest'].isin(['IAH', 'HOU'])]
flights_to_houston

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,1,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
32,33,2013,1,1,623.0,627,-4.0,933.0,932,1.0,UA,496,N459UA,LGA,IAH,229.0,1416,6,27,2013-01-01 06:00:00
81,82,2013,1,1,728.0,732,-4.0,1041.0,1038,3.0,UA,473,N488UA,LGA,IAH,238.0,1416,7,32,2013-01-01 07:00:00
89,90,2013,1,1,739.0,739,0.0,1104.0,1038,26.0,UA,1479,N37408,EWR,IAH,249.0,1400,7,39,2013-01-01 07:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336524,336525,2013,9,30,1729.0,1720,9.0,2001.0,2010,-9.0,UA,652,N455UA,EWR,IAH,173.0,1400,17,20,2013-09-30 17:00:00
336527,336528,2013,9,30,1735.0,1715,20.0,2010.0,2005,5.0,WN,2067,N296WN,EWR,HOU,188.0,1411,17,15,2013-09-30 17:00:00
336618,336619,2013,9,30,1859.0,1859,0.0,2134.0,2159,-25.0,UA,1128,N14731,LGA,IAH,180.0,1416,18,59,2013-09-30 18:00:00
336694,336695,2013,9,30,2015.0,2015,0.0,2244.0,2307,-23.0,UA,1545,N17730,EWR,IAH,174.0,1400,20,15,2013-09-30 20:00:00
336737,336738,2013,9,30,2105.0,2106,-1.0,2329.0,2354,-25.0,UA,475,N477UA,EWR,IAH,175.0,1400,21,6,2013-09-30 21:00:00

In [ ]:
#C se registraron 103669
flights_by_carriers = flights_data[flights_data['carrier'].isin(['UA', 'AA', 'WN'])]
flights_by_carriers

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,1,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,3,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
5,6,2013,1,1,554.0,558,-4.0,740.0,728,12.0,UA,1696,N39463,EWR,ORD,150.0,719,5,58,2013-01-01 05:00:00
9,10,2013,1,1,558.0,600,-2.0,753.0,745,8.0,AA,301,N3ALAA,LGA,ORD,138.0,733,6,0,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336736,336737,2013,9,30,2104.0,2030,34.0,2205.0,2150,15.0,WN,382,N7741C,LGA,MDW,105.0,725,20,30,2013-09-30 20:00:00
336737,336738,2013,9,30,2105.0,2106,-1.0,2329.0,2354,-25.0,UA,475,N477UA,EWR,IAH,175.0,1400,21,6,2013-09-30 21:00:00
336751,336752,2013,9,30,2140.0,2140,0.0,10.0,40,-30.0,AA,185,N335AA,JFK,LAX,298.0,2475,21,40,2013-09-30 21:00:00
336755,336756,2013,9,30,2149.0,2156,-7.0,2245.0,2308,-23.0,UA,523,N813UA,EWR,BOS,37.0,200,21,56,2013-09-30 21:00:00
336762,336763,2013,9,30,2233.0,2113,80.0,112.0,30,42.0,UA,471,N578UA,EWR,SFO,318.0,2565,21,13,2013-09-30 21:00:00

In [ ]:
#D se registraron 85407
flights_in_spring = flights_data[flights_data['month'].isin([3, 4, 6])]
flights_in_spring

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
136247,136248,2013,3,1,4.0,2159,125.0,318.0,56,142.0,B6,11,N706JB,JFK,FLL,166.0,1069,21,59,2013-03-01 21:00:00
136248,136249,2013,3,1,50.0,2358,52.0,526.0,438,48.0,B6,707,N794JB,JFK,SJU,198.0,1598,23,58,2013-03-01 23:00:00
136249,136250,2013,3,1,117.0,2245,152.0,223.0,2354,149.0,B6,608,N328JB,JFK,PWM,48.0,273,22,45,2013-03-01 22:00:00
136250,136251,2013,3,1,454.0,500,-6.0,633.0,648,-15.0,US,1117,N177US,EWR,CLT,79.0,529,5,0,2013-03-01 05:00:00
136251,136252,2013,3,1,505.0,515,-10.0,746.0,810,-24.0,UA,475,N527UA,EWR,IAH,199.0,1400,5,15,2013-03-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250445,250446,2013,6,30,NaN,1945,NaN,NaN,2104,NaN,EV,5714,N836AS,JFK,IAD,NaN,228,19,45,2013-06-30 19:00:00
250446,250447,2013,6,30,NaN,1610,NaN,NaN,1805,NaN,EV,4092,N16147,EWR,DAY,NaN,533,16,10,2013-06-30 16:00:00
250447,250448,2013,6,30,NaN,1709,NaN,NaN,1856,NaN,EV,4662,N16911,EWR,RDU,NaN,416,17,9,2013-06-30 17:00:00
250448,250449,2013,6,30,NaN,2059,NaN,NaN,2307,NaN,EV,5254,N760EV,LGA,DSM,NaN,1031,20,59,2013-06-30 20:00:00
250449,250450,2013,6,30,NaN,1915,NaN,NaN,2131,NaN,EV,5268,N744EV,LGA,CLT,NaN,544,19,15,2013-06-30 19:00:00

2. ¿Cuántos vuelos tienen un valor faltante en la variable `dep_time`? ¿Qué otras variables tienen valores faltantes? ¿Qué podrían representar estas filas?

In [ ]:
# Solución Dep tieme tiene 8255 valores perdidos (NaN) 
# otras variables con valores perdidos son de_delay / arr_time / arr_delay / tailnum / air_time
# Estos filas representan valores que posiblemente no fueron registrados.
flights_data.isna().sum()

Unnamed: 0           0
year                 0
month                0
day                  0
dep_time          8255
sched_dep_time       0
dep_delay         8255
arr_time          8713
sched_arr_time       0
arr_delay         9430
carrier              0
flight               0
tailnum           2512
origin               0
dest                 0
air_time          9430
distance             0
hour                 0
minute               0
time_hour            0
dtype: int64

3. Ordena los vuelos para encontrar los vuelos con mayor retraso en el tiempo de llegada.

In [ ]:
# Solución
flights_data.sort_values(["arr_delay", ], ascending = False)

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
7072,7073,2013,1,9,641.0,900,1301.0,1242.0,1530,1272.0,HA,51,N384HA,JFK,HNL,640.0,4983,9,0,2013-01-09 09:00:00
235778,235779,2013,6,15,1432.0,1935,1137.0,1607.0,2120,1127.0,MQ,3535,N504MQ,JFK,CMH,74.0,483,19,35,2013-06-15 19:00:00
8239,8240,2013,1,10,1121.0,1635,1126.0,1239.0,1810,1109.0,MQ,3695,N517MQ,EWR,ORD,111.0,719,16,35,2013-01-10 16:00:00
327043,327044,2013,9,20,1139.0,1845,1014.0,1457.0,2210,1007.0,AA,177,N338AA,JFK,SFO,354.0,2586,18,45,2013-09-20 18:00:00
270376,270377,2013,7,22,845.0,1600,1005.0,1044.0,1815,989.0,MQ,3075,N665MQ,JFK,CVG,96.0,589,16,0,2013-07-22 16:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,336772,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30 14:00:00
336772,336773,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-09-30 22:00:00
336773,336774,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30 12:00:00
336774,336775,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30 11:00:00
336775,336776,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30 08:00:00

4. Encuentra los 5 vuelos que salieron más temprano en relación con su hora de salida programada. Muestra únicamente el código del avión (`tail_num`), la fecha y el número de minutos que salieron temprano.

In [ ]:
# Solución
flights_data.sort_values(["arr_delay", ], ascending = False)

5. Actualmente, las variables `dep_time` y `arr_time` son convenientes para observar, pero difíciles de usar para cálculos porque no son números realmente continuos. Conviértelos en el número de minutos desde la medianoche en nuevas variables llamadas `arr_time_min` y `dep_time_min`.

In [ ]:
# Solución
# 5. Convertir dep_time y arr_time en minutos desde la medianoche
def time_to_minutes(time):
if pd.isna(time):  # Manejo de valores nulos
        return None
    hours = int(time // 100)
    minutes = int(time % 100)
    return hours * 60 + minutes

flights_data['dep_time_min'] = flights_data['dep_time'].apply(time_to_minutes)
flights_data['arr_time_min'] = flights_data['arr_time'].apply(time_to_minutes)

# Verificar los nuevos valores
flights_data[['dep_time', 'dep_time_min', 'arr_time', 'arr_time_min']].head()

   dep_time  dep_time_min  arr_time  arr_time_min
0     517.0           317     830.0           510
1     533.0           333     850.0           530
2     542.0           342     923.0           563
3     544.0           344    1004.0           604
4     554.0           354     812.0           492

6. Esperamos que `air_time` y la diferencia `arr_time_min` - `dep_time_min` sean iguales, pero no lo son. ¿Por qué no? Identifica un problema importante con los datos y uno más sutil.

In [48]:
# Solución
flights_data['time_difference'] = flights_data['arr_time_min'] - flights_data['dep_time_min']
flights_data['time_check'] = flights_data['time_difference'] - flights_data['air_time']

# Identificar problemas en los datos
major_issues = flights_data[flights_data['time_check'].notna() & (flights_data['time_check'] != 0)]

# Mostrar ejemplos y conteo de problemas
issue_count = major_issues.shape[0]
major_issues[['dep_time_min', 'arr_time_min', 'air_time', 'time_difference', 'time_check']].head(), issue_count

(   dep_time_min  arr_time_min  air_time  time_difference  time_check
 0           317           510     227.0              193       -34.0
 1           333           530     227.0              197       -30.0
 2           342           563     160.0              221        61.0
 3           344           604     183.0              260        77.0
 4           354           492     116.0              138        22.0,
 327150)

7. Encuentra los 5 vuelos con mayor retraso.

In [49]:
# Solución
top_delays = flights_data.nlargest(5, 'arr_delay')[['carrier', 'flight', 'origin', 'dest', 'arr_delay']]

top_delays

       carrier  flight origin dest  arr_delay
7072        HA      51    JFK  HNL     1272.0
235778      MQ    3535    JFK  CMH     1127.0
8239        MQ    3695    EWR  ORD     1109.0
327043      AA     177    JFK  SFO     1007.0
270376      MQ    3075    JFK  CVG      989.0

8. Calcula los retrasos promedio por destino para vuelos que se originan en Nueva York (NYC). Crea una variable que clasifique los destinos de peor a mejor, donde 1 representa el peor lugar en el ranking.

In [55]:
# Solución
nyc_flights = flights_data[flights_data['origin'].isin(['JFK', 'LGA', 'EWR'])]

# Rellenar valores NaN en 'arr_delay'
nyc_flights['arr_delay'] = nyc_flights['arr_delay'].fillna(0)
dest_avg_delay = (nyc_flights.groupby('dest')['arr_delay'].mean().sort_values(ascending=False).reset_index())
dest_avg_delay['rank'] = dest_avg_delay['arr_delay'].rank(ascending=False, method='dense').astype(int)
print("Retrasos promedio por destino:")
print(dest_avg_delay.head())

Retrasos promedio por destino:
  dest  arr_delay  rank
0  CAE  38.163793     1
1  TUL  31.415873     2
2  OKC  27.875723     3
3  JAC  23.600000     4
4  TYS  22.047544     5

9. Calcula la demora promedio por aerolínea

In [56]:
# Solución
airline_avg_delay = (nyc_flights.groupby('carrier')['arr_delay'].mean().sort_values(ascending=False).reset_index())
print("Retraso promedio por aerolínea:")
print(airline_avg_delay.head())

Retraso promedio por aerolínea:
  carrier  arr_delay
0      F9  21.792701
1      FL  19.591411
2      EV  14.902701
3      YV  14.081531
4      OO  10.812500

10. El promedio del retraso en la llegada puede no ser la mejor métrica. Enuncie al menos 3 formas adicionales de evaluar las características típicas de los retrasos de un grupo de vuelos.

In [ ]:
# Solución
# se nos ocurre considerar las variable meteorologicas, estaciones del año, y su relación con temporadas de vacaciones (considerar variables de year, month, day) para tener una proyección, asi como ña reputación de la aerolinea (carrier) 
flights_data.columns

Index(['Unnamed: 0', 'year', 'month', 'day', 'dep_time', 'sched_dep_time',
       'dep_delay', 'arr_time', 'sched_arr_time', 'arr_delay', 'carrier',
       'flight', 'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour',
       'minute', 'time_hour', 'dep_time_min', 'arr_time_min',
       'time_difference', 'time_check'],
      dtype='object')

## **Pobreza y vulnerabilidad**

Siguiendo el ejericio de clase, descargue los módulo Sumaria de la Enaho para los años 2019 y 2023. Para ello, utilice la página de [microdatos del INEI](https://proyectos.inei.gob.pe/microdatos/).

>Ojo: debe utilizar la encuesta `ENAHO Metología ACTUALIZADA` del tipo `Condiciones de Vida y Pobreza - ENAHO` y período `Anual - (Ene-Dic)`. Pueden descargar en formato `.csv`, `.sav`, `.dta`. Use el formato con el que sienta más cómodo. Además, recuerde que es clave revisar el diccionario de datos (por ejemplo, `Diccionario2023.pdf`) que encontrará al descargar los archivos

1. ¿Cuántos hogares fueron encuestados en 2023? ¿Y en 2019? ¿Cuál es la población estimada para dichos años?

> Para validar (parcial o totalmente) su respuesta, revise la diapositiva 2 de la [Presentación del Informe de Pobreza 2023](https://cdn.www.gob.pe/uploads/document/file/6452591/5558432-inei-chief-presentation.pdf)

In [69]:
# Solución
sumaria_2019 = pd.read_csv("Sumaria-2019.csv", encoding = "latin1")
sumaria_2023 = pd.read_csv("Sumaria-2023.csv", encoding = "latin1")

In [ ]:
sumaria_2019["MIEPERHO"]
# SE ENCUESTARON 34565 HOGARES EN EL 2019, ESTE AÑO SE ENCUESTARON MAS HOGARES

0        2
1        3
2        2
3        5
4        4
        ..
34560    3
34561    3
34562    3
34563    5
34564    3
Name: MIEPERHO, Length: 34565, dtype: int64

In [ ]:
sumaria_2023["MIEPERHO"]
#SE ENCUESTARON 33886 HOGARES EN EL 2023

0        4
1        3
2        4
3        2
4        1
        ..
33881    1
33882    5
33883    5
33884    1
33885    3
Name: MIEPERHO, Length: 33886, dtype: int64

In [77]:
# población estimada para dichos años
sumaria_2019["poblacion_total"] = sumaria_2019["MIEPERHO"]* sumaria_2019["FACTOR07"]
sumaria_2019["poblacion_total"].sum()

np.float64(32676529.585711725)

In [ ]:
# el año 2023 tiene una mayor población

In [78]:
# población estimada para dichos años
sumaria_2023["poblacion_total"] = sumaria_2023["MIEPERHO"]* sumaria_2023["FACTOR07"]
sumaria_2023["poblacion_total"].sum()

np.float64(34107047.6470821)

2. ¿Cuántos pobres (extremos y no extremos) se alcanzaron en 2019 y en 2023? ¿En cuánto se incrementó la pobreza en términos absolutos y relativos?


> Para validar (parcial o totalmente) su respuesta, revise la diapositiva 12 de la [Presentación del Informe de Pobreza 2023](https://cdn.www.gob.pe/uploads/document/file/6452591/5558432-inei-chief-presentation.pdf)

In [ ]:
#solucion
pt_2019_porcentaje = sumaria_2019.groupby("POBREZA")["poblacion_total"].sum()
pt_2019_porcentaje

POBREZA
1    9.328773e+05
2    5.665618e+06
3    2.607803e+07
Name: poblacion_total, dtype: float64

In [85]:

#Terminos absolutos
pobres_2019 = 9.328773e+05 +5.665618e+06
pobres_2019

6598495.3

In [ ]:
#Terminos relativos
pobres_2019 = 9.328773e+05 +5.665618e+06
pobres_2019

In [86]:
# Solución
pt_2023 = sumaria_2023.groupby("POBREZA")["poblacion_total"].sum()
pt_2023

POBREZA
1    1.960234e+06
2    7.946474e+06
3    2.420034e+07
Name: poblacion_total, dtype: float64

In [87]:
#Terminos absolutos
pobres_2023  = 5.665618e+06 + 7.946474e+06
pobres_2023

13612092.0

In [ ]:
Diferencia =

3. ¿Cuántos pobres extremos se alcanzaron en 2019 y en 2023? ¿En cuánto se incrementó la pobreza exterma en términos absolutos y relativos?


> Para validar (parcial o totalmente) su respuesta, revise la diapositiva 15 de la [Presentación del Informe de Pobreza 2023](https://cdn.www.gob.pe/uploads/document/file/6452591/5558432-inei-chief-presentation.pdf)

In [88]:
# Solución
pt_2019_porcentaje = sumaria_2019.groupby("POBREZA")["poblacion_total"].sum()
pt_2019_porcentaje

POBREZA
1    9.328773e+05
2    5.665618e+06
3    2.607803e+07
Name: poblacion_total, dtype: float64

In [89]:
pt_2023 = sumaria_2023.groupby("POBREZA")["poblacion_total"].sum()
pt_2023

POBREZA
1    1.960234e+06
2    7.946474e+06
3    2.420034e+07
Name: poblacion_total, dtype: float64

In [ ]:
# pobres etremos se incremento en  1027356
Pobres_extremos = 1.960234e+06 - 9.328773e+05
Pobres_extremos

1027356.7

4. ¿Cuál es el tamaño de la población bajo vulnerabilidad 2023 en términos relativos? ¿Y en 2019? ¿Se incrementó,mantuvo o redujo?


> Para validar (parcial o totalmente) su respuesta, revise la diapositiva 8 de la [Presentación del Informe de Pobreza 2023](https://cdn.www.gob.pe/uploads/document/file/6452591/5558432-inei-chief-presentation.pdf)

In [ ]:
# la cantidad de personas vulnerables es 1.072139e+07 
vulnerable_2023 = sumaria_2023.groupby("POBREZAV")["poblacion_total"].sum()
vulnerable_2023

POBREZAV
1    1.960234e+06
2    7.946474e+06
3    1.072139e+07
4    1.347895e+07
Name: poblacion_total, dtype: float64

In [ ]:
# Solución, en la BD del 2019 no existe la variable PobrezaV por tanto no se puede calcular su incremento.
vulnerable_2019 = sumaria_2019.groupby("POBREZAV")["poblacion_total"].sum()
vulnerable_2019

5. Opcional 1: ¿Cuál es el tamaño de la pobreza (extrema y no extrema) en Lima Metropolitana en 2023? Calcule en términos absolutos y relativos. ¿Cómo cambian sus cifras versus los datos de 2019?

> Para validar (parcial o totalmente) su respuesta, revise la diapositiva 14 de la [Presentación del Informe de Pobreza 2023](https://cdn.www.gob.pe/uploads/document/file/6452591/5558432-inei-chief-presentation.pdf)

In [39]:
# Solución

6. Opcional 2: A partir de la pregunta previa, revise sus cálculos por regiones. ¿Dónde subió/bajó más la pobreza?

> Para validar (parcial o totalmente) su respuesta, revise la diapositiva 14 de la [Presentación del Informe de Pobreza 2023](https://cdn.www.gob.pe/uploads/document/file/6452591/5558432-inei-chief-presentation.pdf)

In [40]:
# Solución